@charset "utf-8";
//変数定義ファイル

$mr0a: 0 auto;

//コンテンツ最大幅
$pc: 1400px;
$menu-change: 1000px;
$tablet: 768px;
$sp: 640px;
//メインカラー
$color-text: #231910;
$color-text01: #ed5900;

$color-border: #27170f;
$color-base: #04599a;
$color-body-bg: #ffffff;
$color-link: #27170f;
$color-title01: #9e174f;//濃いピンク